.fluid-page {
  background-color: #fff;
  padding-bottom: 24px;
  font-family: "Georgia", serif;
  font-size: 18px;
  box-shadow: 0 0 10px #ccc;

  .content {
    text-align: justify;

    p {
      text-align: justify;
    }
  }

  .toc {
    font-size: 14px;

    .toc-item {
      background-color: #f9f9f9;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
