#header {
  position: relative;
  background: #fff;
  overflow: hidden;
}
#header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url('http://24.media.tumblr.com/fbb9b866b6fae08df0a37b56a82a1f37/tumblr_myqp2kubMm1svrh8zo2_1280.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#header > .navbar {
background: transparent;
}

.navbar-nav a.active {
  font-weight: bold;
}