@keyframes login {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.AuthBox {
  .box {
    animation: login 1s ease;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 16px;
  }
}

