.form-title {
    font-size: 32px;
    height: auto;
    border-radius: 0;
    border: 0;
    border-bottom: 1px #ccc solid;
    padding-left: 24px;
    padding-right: 24px;
}
.form-brief {
    font-size: 22px;
    height: auto;
    border-radius: 0;
    border: 0;
    border-bottom: 1px #ccc solid;
    padding-left: 24px;
    padding-right: 24px;
}
