.customBtns {
  & .wrapper {
    & button {
      display: block;
      border-radius: 0;
      box-shadow: none;
      padding: 20px;
      font-size: 14pt;
      color: #666;
    }
    & img {
      position: absolute;
      top: 0;
      left: 5px;
      height: 100%;
      z-index: 99;
    }
  }
}